mixin row(data)
    each val in data
            div(id=val.name, class=val.color)
                .property-symbol
                    !=("&#x" + (Array.isArray(val.symbol) ? val.symbol.reduce((sum, elem) => sum + "&#x" + elem + ";" ) : val.symbol))
                .sub
                    =val.subtext

#board
    #top
        .corner#parking &#x1F698;
        +row(boardData.top)
        .corner#gotojail &#x1F46E;
    #center
        #left
            +row(boardData.left)
        #center-space
        #right
            +row(boardData.right)
    #bottom
        .corner#jail &#x1F693;
        +row(boardData.bottom)
        .corner#go &#x1F4B0;