mixin row(data)
    each val in data
        div(id=val.name, class=val.color)
            .property-symbol
                !=("&#x" + (Array.isArray(val.symbol) ? val.symbol.reduce((sum, elem) => sum + "&#x" + elem + ";" ) : val.symbol))
            .sub
                =val.subtext

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Emojiopoly
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        #board
            #top
                .corner#parking &#x1F698;
                +row(top)
                .corner#gotojail &#x1F46E;
            #center
                #left
                    +row(left)
                #center-space
                #right
                    +row(right)
            #bottom
                .corner#jail &#x1F693;
                +row(bottom)
                .corner#go &#x1F4B0;